.title {
  margin: 0;
  padding-left: 10px;
}
.gcp-wrapper {
  display: flex;
  padding-top: 10px;
  .gcp-side-panel {
    width: 100%;
    display: flex;
    max-width: 200px;
    flex-direction: column;
  }
  app-gcp-grid {
    width: 100%;
  }
}

